html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fcfcfc;
}
.game {
  background-color: #fcfcfc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.empty {
  border: none;
  background-color: inherit;
}

.topsvg  {
  filter: invert(0.5);
  width: 1rem;
  margin: 0;
}

.mynavbar {
  width: 700px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  color: darkgray;
}

.navother {
  display: flex;
  margin: 0rem;
  margin-top: .6rem;
}

.navtitle {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  margin: 0rem;
}

.myfooter {
  font-size: 1rem;
  background-color: #fcfcfc;
  border-top: 1px solid lightgray;
  color: #333;
  width: 700px;
  text-align: center;
  display: flex;
}

.footertext {
  font-size: .8rem;
  color: #888;
  font-family: Arial, 'Segoi UI';
  padding: .2rem 1rem;
}

.footertext:link {
  color: inherit;
  text-decoration: none;
}
.footertext:link:hover {
  color: blue;
}
