@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.infotext {
    color: #555;
    font-size: 0.8rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.burdletext {
    font-family: Roboto, -apple-system, Tahoma, 'Segoi UI';
    font-weight: bold;
    font-size: inherit;
    color: black;
}